{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
          <div  style="background-color: black;">
          <h1 align="center" style="color: whitesmoke;">Appointment Form</h1>
          </div>
          <div class="p-5" style="background-color:whitesmoke;">
          <form action="{% url 'appoint' %}"   method ="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                  {{ appointform.as_p}}   
                    <input type="submit" class="btn btn-primary">
                    
               
          </form>
          </div>
</div>
     

{% endblock %}
