{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
    <div class="mt-5 title" style="background-color: rgb(187, 47, 47); height: 100px;">
        <a href="{% url 'index' %}"><button class="btn btn-outline-warning">Back</button></a>
        <h1 style="color: rgb(221, 220, 220);" align="center">LEARN MORE ABOUT BUSINESS LAW</h1>
      </div>
    
          <div class="p-5" style="background-color:rgb(22, 20, 20);">
            <div class="">
                <div id="image">
                <img src="logo.jpg" alt="">
                </div>
          <p style="color: aliceblue;"><span style="margin-left: 50px;"></span>
            
Business law encompasses all of the laws that dictate how to form and run a business. This includes all of the laws that govern how to start, buy, manage and close or sell any type of business. Business laws establish the rules that all businesses should follow. A savvy businessperson will be generally familiar with business laws and know when to seek the advice of a licensed attorney. Business law includes state and federal laws, as well as administrative regulations. Let's take a look at some of the areas included under the umbrella of business law.


 Save  Timeline Autoplay 
Video Quiz Course
234K views
Starting a Business
Much of business law addresses the different types of business organizations. There are laws regarding how to properly form and run each type. This includes laws about entities such as corporations, partnerships and limited liability companies. For example, let's say I decide to start my own pet grooming business. I need to decide what type of business I want to be. Will this be a partnership? Will it be a sole proprietorship? What papers do I need to file in order to start this business? These questions fall under the laws that govern business entities, which are state laws. The type of entity I pick will also affect how I pay my federal income taxes. These, of course, are federal laws.

Next, what will my business be called? Let's say I decide on Barks & Bubbles as a name for my dog grooming company. Now I need to know if anyone else already has that name. This is a trademark question. Patents, copyrights and trademarks are part of intellectual property law. The federal law governs most intellectual property law. Then I need to know if I'll require any special type of license for this business. Do groomers need a license? Am I allowed to have animals on my property, or do I need some sort of special permit? I'll need to check my local and state laws to find out. How will I advertise my business? Am I allowed to say that I'm the 'best in town?' This question falls under consumer protection law, which can be federal or state law. Wow. That's a lot of business law, and I'm not even open for business yet!

Buying a Business
Now let's say I decide to buy a business instead. I'm going to buy Patty's Pampered Pooches from my Aunt Patty. There are many business laws that govern how to buy a business. If I buy Patty's business, do I now own the actual store? This is a real estate law question. Do I own the pet grooming equipment in the store? This is a property law question. Both of these fall under state law. Am I now the boss of Patty's employees? This is an employment law question.

Can I start hiring my own employees and ordering supplies? This will involve contract law, since I'll be making new agreements with people regarding my business and determining which of Patty's agreements I need to uphold. Contracts are legally binding agreements made by two or more persons, enforceable by the courts. Businesses are involved in many different types of contracts, and as a result, there are many interesting cases involving breach of contract. A breach of contract is when one party doesn't hold up his or her end of the bargain. It's common for parties to dispute the terms of a business agreement or disagree on how the agreement should be performed.

For instance, consider the famous case of Locke v. Warner Bros., Inc. Sondra Locke was a longtime girlfriend of Clint Eastwood. When the two broke up, Locke sued Eastwood for support. As a part of their settlement, Eastwood negotiated a contract for Locke with Warner Bros. Locke was given a director's contract, where Warner Bros. would pay Locke for any projects she directed or produced. Locke proposed more than 30 projects, but Warner Bros. never hired her. She sued Warner Bros. for breach of contract, saying that Warner Bros. never intended to hire her in the first place. After a court ruled that Locke had enough evidence to proceed with her case, the parties settled.

This case demonstrates the importance of making good contracts. A wise businessperson will be sure to enter contracts with a good understanding of the content and a good faith interest in upholding the contract.

Managing a Business
There are many laws that concern managing a business because there are many aspects involved in managing. As you can already see, running a business will involve a lot of employment law and contract law. For my new business, I'll need to know how to hire, what my contracts should look like, what kind of benefits I have to provide, how to pay employee insurance and taxes and even how to properly fire an employee. Many of these employment and benefit laws are federal laws and regulated by government agencies. For example, the Equal Employment Opportunity Commission is a federal agency that enforces employment discrimination laws.

If I also decide to sell things as part of my pet grooming business, like dog collars or dog treats, then I'll need to be familiar with the laws on sales. For businesses that conduct sales, it's especially helpful to be familiar with the Uniform Commercial Code, or UCC. This publication governs sales and commercial paper and has been adopted in some form by almost all states.

What happens if I provide services but have trouble getting paid? Let's say I groom several dogs for Victor's Vet, but he won't pay my bill. Can I demand payment or report him to the credit reporting agencies? This is a debt collection law question. Debt collection laws are mostly federal laws. For instance, many of our debt collection laws are found in the Fair Debt Collection Practices Act, or the FDCPA, which is enforced by the Federal Trade Commission.

        </p>
          </div>
</div>
     

{% endblock %}
