{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
    <div class="mt-5 title" style="background-color: rgb(187, 47, 47); height: 100px;">
        <a href="{% url 'index' %}"><button class="btn btn-outline-warning">Back</button></a>
        <h1 style="color: rgb(221, 220, 220);" align="center">LEARN MORE ABOUT CIVIL LAW</h1>
      </div>
    
          <div class="p-5" style="background-color:rgb(22, 20, 20);">
            <div class="">
                <div id="image">
                <img src="logo.jpg" alt="">
                </div>
          <p style="color: aliceblue;"><span style="margin-left: 50px;"></span>

What is civil law? Well, according to one of its earliest practitioners, "It's the thing that neither influence can affect, nor power break, nor money corrupt. And were it to be suppressed or inadequately observed, no one would feel safe about anything." The Roman statesman Cicero uttered those famous words over 2,000 years ago. Today, more than 60% of the world's countries have some form of civil law. In fact, it's generally considered as a precursor to building stable societies where individuals can pursue their ambitions free from the constraints of oppression and tyranny. If you would like to study and have a career within this noble tradition, here's what you need to know about civil law.
What’s the difference between criminal and civil law? 

Criminal law is concerned with actions that are deemed threatening or harmful to the property, safety, and moral welfare of individuals or the state. Examples include theft, assault, or the dissemination of dangerous or threatening information. Its primary role is to punish behavior the state has deemed illegal. In other words, it enforces an objective set of laws that all citizens are required to obey.

Civil law is different. Instead of focusing on the relationship between state and individual, it's concerned with private relations between members of a community. For example, libel, slander, and breach of contract are all civil matters. In contrast to criminal cases, which are prosecuted by the state, civil cases are initiated by a private party, referred to as the plaintiff in legal terms. Cases are usually decided by a judge, and any compensation can only be financial. A civil court judge does not have the power to impose custodial sentences. 

Lastly, prosecutors do not need to prove their case "beyond a reasonable doubt." Rather, "a preponderance of evidence" is enough to seal a civil conviction. Under the preponderance standard, the “burden of proof is met when there is a greater than 50% chance that the claim is true.”

Law student or lawyer

Why is civil law important? 

Essentially, civil law is about conflict resolution, ensuring disputes between individuals do not escalate into a violent confrontation. It encourages cooperation between members of society, deterring exploitative behaviors, and unethical business practices. Without civil law, larger companies could exploit smaller firms by not paying for goods or services as promised. At the same time, a tenant would have no recourse if their former landlord simply refused to return a security deposit without an adequate explanation. 

Libel cases play an essential part in maintaining the delicate balance between freedom of expression and individual rights. It encourages media outlets to report accurate information and allows individuals to challenge any stories they believe to be false. In 2019, a judge awarded Gregory Rush almost AUS$2 million in compensation after Australia's Daily Telegraph published stories accusing the actor of behaving inappropriately towards a co-star. A judge described the stories as "recklessly irresponsible pieces of sensationalist journalism of the very worst kind." In cases like this, large payouts are undoubtedly significant. However, the plaintiffs are often more concerned about restoring something money can't buy; their reputation and good standing within society.

Areas within civil law

Once you've qualified as a lawyer, you will have to decide on what area to specialize in. Here's a quick look at four of the main fields within civil law.  

Generally, contracts are self-regulatory. They are legally binding documents that anticipate any potential conflicts and outline a series of obligations for each party. Problems arise when one party fails to meet its side of the bargain. Alternatively, both parties might interpret an element of the contract differently. Plus, there's always the possibility that an unforeseen event could impact one party's ability to deliver on its promises. 

Tort law deals with civil wrongdoings. Tort disputes usually come down to issues regarding duty of care, negligence, and liability. In the UK, the first case to establish a legal duty of care was in 1932. It involved a woman who fell ill after swallowing a decomposed snail that had found its way into a bottle of the ginger beer. The bottle was opaque, so neither the women nor the shopkeeper who sold the bottle could see what was inside. After careful consideration, legal experts decided the bottle manufacturer was ultimately responsible. This introduced a new legal precedent in which UK manufacturers had a duty to take reasonable care to avoid acts or omissions which could likely injure others.  

Property law is unique in that it focuses on people's legal relationship to objects. A property lawyer deals with a wide range of issues, like the transfer or purchase of land. They also help resolve issues of contested ownership. This might involve a dispute over who has the right to a family heirloom, or whether the old saying of "finders keepers" has any legal basis. For example, UK property law states anything found inside the land belongs to the landowner, even if the object has been there for hundreds of years. An amateur archaeologist learned this the hard way when he was forced to hand over a priceless Tudor brooch to his local council.

Family law is a delicate area of civil law that tries to resolve domestic disputes before they go to court.  Divorce settlements are a common issue within family law, along with other important agreements, such as childcare and visitation rights. Family lawyers also represent people who want to adopt a child, and parents seeking to remove their children from protective care. They are also involved in paternity disputes, domestic abuse cases, and juvenile law.

Civil law helps those who need it most

Like any area of the law, civil law was designed to be impartial. Ideally, it's a way for all citizens to pursue equal representation and justice. However, the reality can be quite different, especially for those who don't have the financial resources or backing to cover legal expenses.

Fees for family attorneys can start from $100 an hour, with more experienced attorneys demanding up to $300. Thankfully, initiatives like the Legal Services Payment Orders (LSPO) are assisting those who can't afford adequate representation. LSPOs came into force during 2013. They allow plaintiffs to seek financial support from the other party after all other sources of funding have been exhausted. Civil lawyers often make applications on behalf of potential clients, ensuring they match all the personal and legal requirements, as well as providing sufficient evidence to support the claim.

Your career as a civil lawyer

As an aspiring civil lawyer, the first thing you will need is an undergraduate degree in law or a related subject, such as sociology, philosophy, history, or English. Then it's off to law school, which usually lasts for three years.  You could also pursue a specialist postgraduate qualification in civil law. These take 12 months to complete full-time or 24 months on a part-time basis. Then all you need to do is pass the bar exam. Overall, qualifying as a civil lawyer can take up to seven years. This might seem like a long time, but once you land your first job, you will likely soon start reaping the rewards of all that hard work. Entry-level lawyers can earn anywhere between $55,000 to $83,000 a year; it's not unusual for mid-career lawyers to make six-figure salaries. 

Working in civil law is varied and exciting. It is also very challenging and emotionally taxing, especially if you decide on a career in family law. However, you will be helping people improve their lives while sustaining an ideal that is a cornerstone of modern, democratic societies that value equality, justice, and individual freedom.

Education
LLM
 
Civil Law Studies
 
Law Studies
Ashley Murphy
After graduating with a degree in English literature and creative writing, Ashley worked as a bartender, insurance broker, and teacher. He became a full-time freelance writer in 2016. He lives and writes in Manchester, England.
Learn more about
 
Read similar articles:
What is The Bar Exam and How Can You Study For It?
15, 2021
For many students planning to make a career in law, the bar exam is one of the last hurdles to achieving that goal. In order to work as a la...

Read more 
4 Most Exciting Countries to Law in 2020
February 25, 2020
So where's the best place to earn a law degree? Well, that depends on what kind of career you want. As you'll see, getting a degree from a p...

Read more 
What Does the Law School Applications Rise Mean for Law School Applicants?
12, 2021
The last year has been a lot. Many students have taken this as their sign to apply to law school. Here’s what the rise in law school applica...

Read more 
LAWSTUDIES
Browse thousands of law degrees from around the world.
Studying law opens doors to many professions around the world. With LAWSTUDIES, students can connect to law schools and programs and find the right law degree for their career aspirations. As a trusted part of the Keystone Academic Solutions family of multi-lingual, student-centered websites, LAWSTUDIES is the key to law studies at all levels. Students use LAWSTUDIES to find LLBs and LLMs, MLS degrees, Law PhDs, paralegal courses, postgraduate law diplomas, and many other legal qualifications in countries around the world.

StudentTests     
Keystone Academic Solutions     
About Us
Contact Us
Terms and Conditions
Privacy
Promote Your Programs
Select Language
securepagestats HT

        </p>
          </div>
</div>
     

{% endblock %}
