{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
    <div class="mt-5 title" style="background-color: rgb(187, 47, 47); height: 100px;">
        <a href="{% url 'index' %}"><button class="btn btn-outline-warning">Back</button></a>
        <h1 style="color: rgb(221, 220, 220);" align="center">LEARN MORE ABOUT CYBER LAW</h1>
      </div>
    
          <div class="p-5" style="background-color:rgb(22, 20, 20);">
            <div class="">
                <div id="image">
                <img src="logo.jpg" alt="">
                </div>
          <p style="color: aliceblue;"><span style="margin-left: 50px;"></span>
            Cyber law is the part of the overall legal system that deals with the Internet, cyberspace, and their respective legal issues. Cyber law covers a fairly broad area, encompassing several subtopics including freedom of expression, access to and usage of the Internet, and online privacy. Generically, cyber law is referred to as the Law of the Internet.

The first cyber law was the Computer Fraud and Abuse Act, enacted in 1986. Known as CFAA, this law prohibits unauthorized access to computers and includes detail about the levels of punishment for breaking that law.

Why are cyber laws needed?
Like any law, a cyber law is created to help protect people and organizations on the Internet from malicious people on the Internet and help maintain order. If someone breaks a cyber law or rule, it allows another person or organization to take action against that person or have them sentenced to a punishment.

See our computer crime term for an example of crimes cyber laws help prevent.
What happens if you break a cyber law?
There are different forms of punishment depending on the type of cyber law you broke, who you offended, where you broke the law, and where you live. In many situations, breaking the rules on a website result in your account becoming suspended or banned and your IP addressed blocked. To determine the consequences of your action for minor offenses, we recommend reviewing the companies terms of service or rules.

If you've committed a more serious offense such as hacking, attacking another person or website, or causing another person or company distress, additional action may be taken against you.

        </p>
          </div>
</div>
     

{% endblock %}
