{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
    <div class="mt-5 title" style="background-color: rgb(187, 47, 47); height: 100px;">
        <a href="{% url 'index' %}"><button class="btn btn-outline-warning">Back</button></a>
        <h1 style="color: rgb(221, 220, 220);" align="center">LEARN MORE ABOUT EDUCATION LAW</h1>
      </div>
    
          <div class="p-5" style="background-color:rgb(22, 20, 20);">
            <div class="">
                <div id="image">
                <img src="logo.jpg" alt="">
                </div>
          <p style="color: aliceblue;"><span style="margin-left: 50px;"></span>
            Education law is a set of rules and regulations that guide the workings of an education system. Many regions have detailed educational law systems, in order to create comprehensive educational policies for a specific nation. Education law may deal with the creation and funding of schools and school policy, teacher requirements, and the rights of students.


 
Education law covers areas like school policy and teacher requirements.
Education law covers areas like school policy and teacher requirements.
The pursuit of education is seen by many as key to creating a productive citizenry. By instilling basic knowledge such as reading, writing, science, and mathematics, schools help produce knowledgeable workers that are primed for work or for additional training in a specialized field. This, in turn, creates a more skilled workforce, which can benefit the economy and well-being of an entire nation. For these reasons, many governments consider education to be a priority.


 
Education law may deal with the rights of students.
Education law may deal with the rights of students.
Some types of educational law create a compulsory education system. Compulsory education requires that children attend school through a certain age or for a certain number of years. In the United States, education is compulsory through about age 18, although state law varies slightly. Germany is noted for a strict compulsory education system, which requires students to be in school for up to 12 years and forbids the use of alternative education systems such as home schooling.


 
In countries that have compulsory education law, it is also necessary to some degree for laws to create a free education system. Many people cannot afford to pay tuition for children, making it easy to violate compulsory laws if there is no free education system. The creation and standards of free, state-created schools, known as public schools in the United States but called private schools in the United Kingdom, is typically handled under education law.


 
Education law can also dictate the standards and practices of teachers. This may include requirements as to acceptable degrees for teachers, protocol, hiring policy, and wages. How teachers are evaluated is also sometimes a matter of educational law, and is home to a great deal of controversy. While some believe teachers should be evaluated based on the academic performance of students, others argue that this frequently leads to the worst-performing teachers being sent to traditionally poorly performing schools, which only perpetuates the problem. Some regions also base school and teacher evaluations on the results of standardized tests, which also raises considerable dissent.


 
The history of education law does not merely begin with modern school systems, but has been suggested and encouraged by scholars and philosophers for thousands of years. Plato recommended a compulsory education system in several of his treatise, while during the Protestant Reformation in England, the suggestion that all people should be taught to read so that they could examine the Bible sent a shock wave across the nation and resulted in cries of heresy. While many today agree as to the importance of an educational system, few can reach a consensus of the proper scope and depth of such a system.



        </p>
          </div>
</div>
     

{% endblock %}
