{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
    <div class="mt-5 title" style="background-color: rgb(187, 47, 47); height: 100px;">
        <a href="{% url 'index' %}"><button class="btn btn-outline-warning">Back</button></a>
        <h1 style="color: rgb(221, 220, 220);" align="center">LEARN MORE ABOUT FAMILY LAW</h1>
      </div>
    
          <div class="p-5" style="background-color:rgb(22, 20, 20);">
            <div class="">
                <div id="image">
                <img src="logo.jpg" alt="">
                </div>
          <p style="color: aliceblue;"><span style="margin-left: 50px;"></span>
            Family law is a legal practice area that focuses on issues involving family relationships such as marriage, adoption, divorce, and child custody, among others. Attorneys practicing family law can represent clients in family court proceedings or in related negotiations. They can also draft important legal documents such as court petitions or property agreements.

Some family law attorneys even specialize in adoption, paternity, emancipation, or other matters not usually related to divorce. The matter of family encompasses so many life aspects. Lawyers in the field, therefore, help all kinds of people facing all kinds of sensitive issues that many people wouldn't immediately assume go under the family law umbrella.

The following is a primer on family law and what it entails.

Helpful Terms to Know
Emancipation: A court process through which a minor becomes self-supporting, assumes adult responsibility for their personal welfare, and is no longer under the care of their parents.
Marital Property: Property acquired by either spouse during the course of a marriage that is subject to division upon divorce.
Alimony: An allowance made to one spouse by the other for support during or after a legal separation or divorce.
Paternity: Origin or descent from a father (to establish paternity is to confirm the identity of a child's biological father).
Prenuptial Agreement: An agreement made between a man and a woman before marrying in which they give up future rights to each other's property in the event of a divorce or death.
Reasons to Hire a Family Law Attorney
Most family lawyers represent clients in divorce proceedings and other matters related to divorce. But family law is a relatively broad practice area, including such issues as foster care and reproductive rights. Since family law matters hit so close to home, having a trusted legal professional by your side can help you ensure your loved ones are properly represented and protected during any legal process.

The most common reasons to hire a family law attorney include:


FINDLAW NEWSLETTERS

Stay up-to-date with how the law affects your life
Enter your email address to subscribe

Learn more about FindLaw’s newsletters, including our terms of use and privacy policy. This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
Divorce: Each partner hires their own attorney, who will help devise a settlement plan in order to avoid a trial. Divorce attorneys typically are skilled at dividing marital property, calculating spousal support, and proposing a plan for child custody, visitation, and support (if applicable).
Child Custody / Child Support: Court orders and settlement agreements involving both custody and support usually are included in the larger divorce case, but may be revisited as conditions change. For instance, child support may be altered after the non-custodial parent's financial situation changes.
Paternity: In most cases, paternity cases are filed by the mother in an effort to secure child support payments from an absent father. But sometimes biological fathers file for paternity in order to have a relationship with their child. Paternity typically is determined through DNA testing.
Adoption / Foster Care: Adoption is a complex process that differs according to the type of adoption, where the child is from, variances in state laws, and other factors. Therefore, it's important to consult with a family law attorney. Foster parents sometimes adopt their foster children, but the foster process does not necessarily require legal representation.
Related Practice Areas
Family law often intersects with a wide range of other legal practice areas. For example, instances of domestic violence and child abuse typically involve criminal investigations (and may result in arrests and charges). Along with that process, family courts are tasked with determining how to best protect the victims and ensure a relatively safe environment for those involved. Other related legal practice areas include the following:

Mediation and Collaborative Law
Estate Planning
Immigration and Naturalization Law
Marriage and Divorce Laws Vary by State
States have the right to determine "reasonable formal requirements" for marriage, including age and legal capacity, as well as the rules and procedures for divorce and other family law matters.

The timeframe of the divorce process, for example, depends on location. Some states have divorce laws that require a waiting period. Same-sex marriage has historically been a state matter. Prior to the Supreme Court ruling legalizing same-sex marriage, some states restricted marriage (and divorce) to opposite-sex couples only.

Need Help With a Family Law Matter? Talk to a Professional
Whether you're in the process of a divorce, need help with an adoption, or have questions about enforcing a child support order, it's often in your best interests to work with an attorney. Get the help you need by contacting an experienced family law attorney near you.

        </p>
          </div>
</div>
     

{% endblock %}
