{% extends "home.html" %}

{% load static %}

{% block content %}
<div class="mt-5">
    <div class="mt-5 title" style="background-color: rgb(187, 47, 47); height: 100px;">
        <a href="{% url 'index' %}"><button class="btn btn-outline-warning">Back</button></a>
        <h1 style="color: rgb(221, 220, 220);" align="center">LEARN MORE ABOUT WATSON LAW FIRM</h1>
      </div>
    
          <div class="p-5" style="background-color:rgb(22, 20, 20);">
            <div class="">
                <div id="image">
                <img src="logo.jpg" alt="">
                </div>
          <p style="color: aliceblue;"><span style="margin-left: 50px;"></span>
            Watson is a law firm that concentrates its practice in the areas of Business and Criminal law, Family and Civil Law, Education and Cyber law. We provide innovative and strategic representation to planned communities, individuals, families, professionals, non-profits and small, privately held businesses.
             
            Learn more about Watson law firm and our collaborative approach to working with clients. We don't believe in "one-size-fits-all" service; every Watson attorney values the unique details of your case. This is what sets us apart from other firms and why the majority of our business originates with referrals from loyal clients.
            Buying a Business
Now let's say I decide to buy a business instead. I'm going to buy Patty's Pampered Pooches from my Aunt Patty. There are many business laws that govern how to buy a business. If I buy Patty's business, do I now own the actual store? This is a real estate law question. Do I own the pet grooming equipment in the store? This is a property law question. Both of these fall under state law. Am I now the boss of Patty's employees? This is an employment law question.

Can I start hiring my own employees and ordering supplies? This will involve contract law, since I'll be making new agreements with people regarding my business and determining which of Patty's agreements I need to uphold. Contracts are legally binding agreements made by two or more persons, enforceable by the courts. Businesses are involved in many different types of contracts, and as a result, there are many interesting cases involving breach of contract. A breach of contract is when one party doesn't hold up his or her end of the bargain. It's common for parties to dispute the terms of a business agreement or disagree on how the agreement should be performed.

For instance, consider the famous case of Locke v. Warner Bros., Inc. Sondra Locke was a longtime girlfriend of Clint Eastwood. When the two broke up, Locke sued Eastwood for support. As a part of their settlement, Eastwood negotiated a contract for Locke with Warner Bros. Locke was given a director's contract, where Warner Bros. would pay Locke for any projects she directed or produced. Locke proposed more than 30 projects, but Warner Bros. never hired her. She sued Warner Bros. for breach of contract, saying that Warner Bros. never intended to hire her in the first place. After a court ruled that Locke had enough evidence to proceed with her case, the parties settled.

This case demonstrates the importance of making good contracts. A wise businessperson will be sure to enter contracts with a good understanding of the content and a good faith interest in upholding the contract.

Managing a Business
There are many laws that concern managing a business because there are many aspects involved in managing. As you can already see, running a business will involve a lot of employment law and contract law. For my new business, I'll need to know how to hire, what my contracts should look like, what kind of benefits I have to provide, how to pay employee insurance and taxes and even how to properly fire an employee. Many of these employment and benefit laws are federal laws and regulated by government agencies. For example, the Equal Employment Opportunity Commission is a federal agency that enforces employment discrimination laws.

If I also decide to sell things as part of my pet grooming business, like dog collars or dog treats, then I'll need to be familiar with the laws on sales. For businesses that conduct sales, it's especially helpful to be familiar with the Uniform Commercial Code, or UCC. This publication governs sales and commercial paper and has been adopted in some form by almost all states.

What happens if I provide services but have trouble getting paid? Let's say I groom several dogs for Victor's Vet, but he won't pay my bill. Can I demand payment or report him to the credit reporting agencies? This is a debt collection law question. Debt collection laws are mostly federal laws. For instance, many of our debt collection laws are found in the Fair Debt Collection Practices Act, or the FDCPA, which is enforced by the Federal Trade Commission.

        </p>
          </div>
</div>
     

{% endblock %}
